*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.aux
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.dvi
*.aux
*.maf
*.mtc
*.mtc1
*.out
*.pdf
*.dropbox
*.synctex.gz
*~
/NewFolder/ArrayCalisthenics/nbproject/private/
/NewFolder/ArrayCalisthenics/build/